* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#App {
  width: 330px;
  height: 460px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  background: #F1F5F9;
}

button,
select,
input,
textarea {
  font: inherit;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.ga-sm {
  gap: .5rem;
}

.ga-md {
  gap: 1rem;
}
